.page {
  display: grid;
  align-items: center;

  &__header {
    // padding: min(100% - 1em, 1em);
  }

  &__content {
    padding: 1.5em 0;
    color: var(--text-color);
  }
}

.container {
  padding: 4.5em 12em;
  display: flex;
  flex-direction: column;

  .page__header {
    padding: 1em 1.2em;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .group {
      display: flex;
      justify-content: space-between;
      gap: 0.2em;

      &__title {
        font-size: 1.4rem;
        font-weight: 700;
        flex: 60%;
      }

      &__description {
        flex: 40%;
        text-align: right;
      }
    }

    .tab {
      display: flex;
      gap: 1em;

      .selector {
        position: relative;
        color: var(--black-color);
      }

      .selector::after {
        position: absolute;
        content: "";
        bottom: -1em;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: var(--grey-color);
      }

      .selector.active::after {
        background-color: var(--black-color);
      }
    }

    a {
      text-decoration: none;
    }
  }

  .page__header.wide {
    margin-bottom: 0.5em;
  }

  .content {

    &__row {
      margin: 1em 0;
      padding: 1em 1em;
      border: 1px solid var(--border-color);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .actions {
        display: flex;
        align-items: center;
        padding: 0.2em;
        gap: 0.5em;

        .title {
          font-size: 1.3rem;
          font-weight: 700;
        }

        &__btn {
          display: flex;
          gap: 0.5em;
        }

        a {
          text-decoration: none;
        }
      }

      select.filter {
        padding: 0.5em;
      }

      .actions.spaced {
        justify-content: space-between;
      }

      table {
        border-collapse: collapse;
        border-radius: 2px;
        width: 100%;
        border: 1px solid var(--border-color);

        th,
        td {
          padding: 1em 1em;
          text-align: left;
        }

        thead {
          th {
            background-color: var(--bg-color);
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid var(--border-color);

            td {
              padding: 0.5em;
            }

            td.col5 {
              display: flex;
              gap: 0.5em;
            }

          }

        }

        tbody.wide {

          tr {

            td {
              padding: 1em;
            }
          }
        }

      }
    }

    .settings {
      display: flex;
      flex-direction: column;
      gap: 1em;

      .group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .name {
          font-weight: 700;
        }
      }
    }

    &__row.short {
      margin: 0.5em 0;
    }

    &__row.darken {
      background-color: var(--bg-color);
    }
  }

  .content.group {
    display: flex;
    gap: 1em;

    .content__row {
      flex: 80%;
    }

    .content__details {
      margin: 1em 0;
      padding: 1em 1em 0;
      flex: 20%;
      border: 1px solid var(--border-color);
      display: flex;
      flex-direction: column;
      gap: 1em;
      max-height: 40em;

      .header-details {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--grey-color);

        .group {
          display: flex;
          flex-direction: column;
          gap: 0.5em;

          .title {
            font-weight: 700;
          }

          .set {
            color: var(--grey-color);
          }
        }
      }

      .election-details {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        padding-bottom: 1em;
        border-bottom: 1px solid var(--grey-color);

        .title {
          font-weight: 700;
        }

        .group {
          display: flex;
          flex-direction: column;
          gap: 0.2em;

          .name {
            font-weight: 700;
            color: var(--grey-color);
          }
        }
      }

      .actions {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
    }
  }

  .page__actions {
    display: flex;
    justify-content: right;
    padding: 0 1em;
  }
}

.container.short {
  padding: 4.5em 20em;
}

.container.wide {
  padding: 4.5em 8em;
}

.container.code {
  padding: 5em 20em 5em;
  display: flex;
  flex-direction: row;
  gap: 2em;

  form {
    flex: 50%;
  }

  .card {
    flex: 50%;
  }
}