.page {
  display: grid;
  align-items: center;

  &__header {
    // padding: min(100% - 1em, 1em);
  }

  &__content {
    padding: 1.5em 0;
    color: var(--text-color);
  }
}

.container {
  padding: 0 12em;
  display: flex;
  flex-direction: column;

  .page__header {
    padding: 1em 1.2em;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;

    .group {
      display: flex;
      justify-content: space-between;
      gap: 0.2em;

      &__title {
        font-size: 1.4rem;
        font-weight: 700;
      }
    }

    a {
      text-decoration: none;
    }
  }

  .page__header.wide {
    margin-bottom: 0.5em;
  }

  .content {

    &__row {
      margin: 1em 0;
      padding: 1em 1em;
      border: 1px solid var(--border-color);
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      gap: 1em;

      .actions {
        display: flex;
        align-items: center;
        padding: 0.2em;
        gap: 0.5em;

        &__btn {
          display: flex;
          gap: 0.5em;
        }

        a {
          text-decoration: none;
        }
      }

      table {
        border-collapse: collapse;
        border-radius: 2px;
        width: 100%;
        border: 1px solid var(--border-color);

        th,
        td {
          padding: 1em 1em;
          text-align: left;
        }

        thead {
          th {
            background-color: var(--bg-color);
          }
        }

        tbody {
          tr {
            border-bottom: 1px solid var(--border-color);

            td {
              padding: 0.5em;
            }

            td.col5 {
              display: flex;
              gap: 0.5em;
            }

          }

        }

        tbody.wide {

          tr {

            td {
              padding: 1em;
            }
          }
        }

      }

      table.position {

        tbody {

          tr {

            td.col5 {}
          }
        }
      }
    }

    &__row.short {
      margin: 0.5em 0;
    }

  }

  .page__actions {
    display: flex;
    justify-content: right;
    padding: 0 1em;
  }
}

.container.short {
  padding: 0 20em;
}