.container {
  display: flex;
  flex-direction: column;
  gap: 1em;

  .page__header {
    padding: min(100% - 1em, 1em);
    border: 1px solid var(--border-color);
    border-radius: 2px;
    
    .group {
      display: flex;
      flex-direction: column;
      gap: 0.2em;

      &__title {
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
  }
  
  .content {
    
    &__row {
      padding: min(100% - 1em, 1em);
      border: 1px solid var(--border-color);
      border-radius: 2px;
      
      .actions {
        display: flex;
        align-items: center;
        padding: 0.2em;
        gap: 0.5em;

        &__btn {
          display: flex;
          gap: 0.5em;
        }


      }
    }
  }
}

