.menu {
 position: fixed;
 display: flex;
 flex-direction: column;
 top: 85px;
 right: -110%;
 z-index: 2;
 max-width: 10em;
 background-color: var(--white-color);

 &__content {

  .actions {
   display: flex;
   flex-direction: column;

   a {
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5em 0.8em;
    border: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1em;
   }

   a:hover {
    background-color: var(--hover-color);
   }

   a:nth-child(odd) {
    border-bottom: none;
   }
  }
 }
}

.menu::before {
 content: "";
 position: absolute;
 left: 50%;
 top: 100%;
 transform: translateX(-50%);
 border: 15px solid;
 border-top: 16px solid #5B2300;
 border-left: 16px solid transparent;
 border-right: 16px solid transparent;
 border-bottom: 0px solid transparent;
}


.user.active {
 right: 2%;
}

.menu.active {
 right: 2%;
}