@use '../globals/typography' as util;

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: util.$font;
  background-color: var(--background-color);
  color: var(--text-color);
}

.page {
  display: grid;
  align-items: center;

  &__header {
    // padding: min(100% - 5em, 60em);
  }
  
  &__content {
    // padding: min(100% - 5em, 60em);
  }
}