:root {
  // --primary-color: #0f5ea9;
  // --secondary-color: #eeebff;
  // --accent-color: #fdbf17;
  --primary-color: #000;
  --secondary-color: #989898;
  --text-color: #fff;
  --hover-color: #e9dfdf;
  --white-color: #fff;
  --black-color: #000;
  --tablehead-color: #989898;
  --border-color: #989898;
  --inactive-color: #989898;
  --bg-color: #989898;
  --success-color: #0A470D;
  --warning-color: #8C5D17;
  --info-color: #0E3058;
  --error-color: #66221D;
  --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .3);
  --border: .2rem solid rgba(0, 0, 0, 0.1);
  --outline: .1rem solid rgba(0, 0, 0, 0.1);
  --outline-hover: .2rem solid rgba(var(--black));
}