.page {
  display: grid;
  align-items: center;

  &__header {
    // padding: min(100% - 1em, 1em);
  }
  
  &__content {
    padding: 1.5em min(100% - 12em, 12em);
    color: var(--text-color);
  }
}